html {
}

body{
	font-family: 'Nunito',sans-serif; /* modifie la police*/
}

.titre-jeu{
	text-align: center;
	font-family: Indie Flower, serif; /*police*/
	border-bottom-style: double;
	margin : auto;
	width:50%;
}

.centrer-table{
	text-align: center;
}

.section-title{
	border-bottom: 3px solid black; /* bordure sous le titre de section*/
	font-size: 30px;
	text-transform: uppercase;
	padding-left: 10px;
}

.footer-cv{
	text-align: center;
	border-top: 1px solid;
	padding: 5px;
}

.message-under-title {
	margin-bottom: 25px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: large;
	text-align: center;
}

 /***************** Titre CV*********************/
.main-title{
	text-align: center; /* pour centrer le texte*/
	font-size: 40px;
}
/**********************************************/

 /***************** Morpion style*********************/
#table-morpion{
	border-collapse: collapse;
	display: inline;
	width:70%;
}

#table-morpion tbody tr td{
	border : 2px solid black;
	width: 10em;
	height : 10em;
}

.signe-morpion{
	font-size: 6em;
}

/*************************421************************ */
.bouton-lancer{
	padding: 12px;
	text-transform: uppercase;
}

.centrer-bouton{
	text-align: center;
	margin-bottom: 25px;
}

.table-421{
	margin: 0 auto;
	width:35%;
	margin-bottom: 40px;
}

.nb-lancer{
	margin-top:7px;
	float:right;
	font-weight: bold;
	font-size : 18px;
}

/*************************PENDU*****************/
.pendu {
	font-size: 20px;
}

.tableau-erreur{
	display: inline-block;
	padding-left: 30%;
}


/***********************PONG*********************/
.canvas_pong{
	border : 2px solid;
	display: block;
	margin: 0 auto;
	border-radius: 10px;
}

.bouton-pong{
	position: center;
}

.bouton-demarrer-pong{
	margin : 10px;
}

.bouton-arreter-pong{
	
}
