<div class="container">
	<br/>
	<h1 class="titre-jeu">Jeu du 421</h1>
	<br/>
		<div class="centrer-bouton">
			<button class="btn btn-primary bouton-lancer" ng-click="app421Ctrl.lancer()">Lancer !</button>
		</div>
		<div class="table-responsive">
			<table class="text-center table-421">
				<tr>
					<td ng-repeat="de in app421Ctrl.des track by $index">
						<img ng-src="{{de.img}}">
					</td> <!-- track by permet de repeter les doublons -->
				</tr>
				<tr>
					<td ng-repeat="de in app421Ctrl.des">
						<!-- si le de n'est pas bloque -->
						<button ng-if="!de.locked" class="btn btn-primary" ng-click="app421Ctrl.lock($index)" style="margin-top:7px;">Lock</button> <!-- $index nous donnes l'index du lock qui va correspondre au de du tableau -->
						<!-- si le de est bloque -->
						<button ng-if="de.locked" class="btn btn-danger" ng-click="app421Ctrl.lock($index)" style="margin-top:7px;">Lock</button> 
					</td>
				</tr>
			</table>
		</div>

		<button class="btn btn-primary center-block" style="margin-top:10px" ng-click="app421Ctrl.reset()">Reset</button>

		<div class="nb-lancer">Nombre de lancés effectués : {{app421Ctrl.nbLance}}</div>
		<br/>
		<h3 style="text-decoration:underline"> Règles : </h3>
		<p>Le but du jeu est de faire 421 avec les dés ( un 4, un 2 et un 1 dans n'importe quel ordre).
			Lorsque l'on a un ou plusieurs de ces nombres on peut les bloquer grâce aux boutons "lock".
			Le but du jeu est de faire le 421 en moins de lancés possibles.
		</p>
</div>