<div class="container">
    <br/>
    <h1 class="titre-jeu">Pong (2 joueurs)</h1>
    <br/>
    <div class="centrer-bouton">
	    <button class="btn btn-primary bouton-demarrer-pong center-bouton" ng-disabled="!pongCtrl.disableButton" ng-click="pongCtrl.demarrerPartie()">Start !</button>
	    <button class="btn btn-primary bouton-arreter-pong center-bouton" ng-disabled="pongCtrl.disableButton" ng-click="pongCtrl.arreterPartie()">Stop !</button>
	    <button class="btn btn-primary bouton-reset-pong center-bouton"  ng-disabled="true" ng-click="pongCtrl.recommencerPartie()">Reset !</button>
	</div>
	<br/>
    <canvas id="canvas-pong" width="750" height="500" class="canvas_pong"></canvas>


</div>