<div class="container">
    <h1>Jeu du morpion (2 joueurs)</h1>
    <div class="container">
	    <table id="table-morpion">
	    	<tbody>
				<tr ng-repeat="row in morpionCtrl.plateau track by $index">
					<td ng-repeat="col in row track by $index" ng-click="morpionCtrl.action($parent.$index,$index)">{{morpionCtrl.plateau[$parent.$index][$index]}}</td>
				</tr>
			</tbody>
	    </table>
	</div>

    <button class="btn btn-primary center-block" style="margin-top:10px;" ng-click="morpionCtrl.reset()">Reset</button>
</div> 
