<div class="container">
    <h1 class="main-title">Bienvenu sur mon site</h1>
    <p class="" style="margin-top:30px">Cette première page va présenter mon CV et les liens vers les différentes sections du site.</p>
    <section class="section-presentation section-important" id="presentation">
        <h2 class="section-title" id="presentation">Présentation</h2>
        <p>Je suis Thomas Fajoux, ingénieur en physique numérique. Passioné de foot, cinéma et poker. J'ai effectué une licence en physique à l'université de Poitiers puis un master Physique-Informatique à Montpellier où j'ai pu y apprendre divers langages de programmation. J'ai ensuite suivi une formation JAVA EE / AngularJS à Saint Herblain(44).</p>
    </section>
    <section class="section-information section-important" id="info-legales">
        <h2 class="section-title" id="info-legales">Informations</h2>
        <ul>
            <li><strong>Date de naissance</strong> : 20 août 1990</li>
            <li><strong>Permis</strong> : B</li>
            <li><strong>Statut</strong> : Célibataire</li>
        </ul>
    </section>
    <section class="section-cursus section-important" id="info-cursus">
        <h2 class="section-title" id="info-cursus">Formation</h2>
        <ul>
            <li><strong>Juillet 15 - Août 2015</strong> : formation JavaEE Clever Institut</li>
            <li><strong>Permis</strong> : B</li>
            <li><strong>Statut</strong> : Célibataire</li>
        </ul>
    </section>
</div>
