<div class="container">
    <h1 class="main-title">Bienvenu sur mon site</h1>
    <p class="" style="margin-top:30px">Cette première page va présenter mon CV et les liens vers les différentes sections du site.</p>
    <section class="section-presentation section-important" id="presentation">
        <h2 class="section-title" id="presentation">Présentation</h2>
        <p>Je suis Thomas Fajoux, ingénieur en physique numérique. Passioné de foot, cinéma et poker. J'ai effectué une licence en physique à l'université de Poitiers puis un master Physique-Informatique à Montpellier où j'ai pu y apprendre divers langages de programmation. J'ai ensuite suivi une formation JAVA EE / AngularJS à Saint Herblain(44).</p>
    </section>
    <section class="section-information section-important" id="info-legales">
        <h2 class="section-title" id="info-legales">Informations</h2>
        <ul>
            <li><strong>Date de naissance</strong> : 20 août 1990</li>
            <li><strong>Permis</strong> : B</li>
            <li><strong>Situation</strong> : en poste chez <a href="http://www.dta-ingenierie.fr/">DTA Ingénierie</a></li>
            <li><strong>Statut</strong> : Célibataire</li>
        </ul>
    </section>
    <section class="section-cursus section-important" id="info-cursus">
        <h2 class="section-title" id="info-cursus">Formation</h2>
        <ul>
            <li><strong>Juin 15 - Août 2015</strong> : Formation JAVA/JEE et AngularJS Clever Institut</li>
            <li><strong>2012 – 2014</strong> : Master Physique et Ingénierie, spécialité Physique Informatique à l'Université de Montpellier 2</li>
            <li><strong>2008 – 2012</strong> : Licence de Physique à l'Université de Poitiers</li>
        </ul>
    </section>
    <section class="section-experience section-important" id="info-experience">
        <h2 class="section-title" id="info-cursus">Expériences profesionelles</h2>
        <ul>
            <li><strong>Juin 15 - Août 2015</strong> : Formation Développement JAVA JEE visant à compléter et concrétiser les connaissances nécessaires pour la conception, le développement et la maintenance des applications Java en environnement JEE, associée à l’ensemble des technologies et frameworks utilisés en entreprise.
            </li>
            <li><strong>Mars 2014 - Août 2014</strong> : Ingénieur d’étude scientifique. Développement d’une interface et des codes de calculs afin de faciliter l'accès à des données portant sur l'étude des verres.</li>

        </ul>
    </section>

    <section class="section-techno section-important" id="info-techno">
        <h2 class="section-title" id="info-cursus">Compétences informatiques</h2>
        <ul>
            <li><strong>IDE</strong> : Eclipse, IDLE</li>
            <li><strong>Langage </strong> : JAVA, C, Python, FORTRAN</li>
            <li><strong>JAVA / JEE</strong> : Servlets, JSP, JDBC, JPA, EJB, REST</li>
            <li><strong>Web</strong> : HTML5, CSS3, AngularJS</li>
            <li><strong>OS</strong> : Windows, Linux</li>
        </ul>
    </section>

    <footer>
        <nav class="footer-cv">
            <span><a href="https://fr.linkedin.com/pub/thomas-fajoux/85/390/5a5"><img src="http://www.sto.ca/images/icons/Icone_Linkedin_26%20pixels.png" alt="logo linkedin"/></span>
            <span><a href="http://fr.viadeo.com/fr/profile/thomas.fajoux"><img src="http://www.fairway-strategie.com/wp-content/themes/fairway/images/icone-viadeo2.png" alt="logo viadeo"/></span>
            <span><a href="https://github.com/Joux17"><img src="https://fxbenard.com/wp-content/plugins/zilla-social/images/32px/GitHub.png" alt="logo github"/></span>
        </nav>
    </footer>
</div>
