<div class="container">
    <h1 class="main-title">Bienvenu</h1>
    <p class="" style="margin-top:30px">    J'ai voulu avec ce site, mettre en oeuvre ce que j'avais appris lors de ma formation en Front-End.
        La premiere page presente rapidement mon parcours. 
        Je vais essayer aussi de rajouter des sections pour d'autres idees de pages, comme des jeux en AngularJS par exemple.
        Si je garde ma motivation, ce site devrait evoluer regulierement.</p>
    <section class="section-presentation section-important" id="presentation">
        <h2 class="section-title" id="presentation">Présentation</h2>
        <p>Je m'appelle, Thomas Fajoux, originaire de l'ouest de la France, j'ai suivi une licence en Physique à l'universite de Poitiers 
            puis je suis parti effectuer un Master en Physique-Informatique à Montpellier.
            J'ai toujours ete interesse par l'informatique et ce Master m'a permis de concilier les 2.
            Suite à mon Master il a ete un peu complique de trouver un emploi dans ce domaine car les entreprises cherchent surtout des gens avec un doctorat haha toutes ces annees deja d'etudes pour se faire refouler.
            J'ai pu trouver une formation de 2 mois, lors de l'ete 2015, à cote de Nantes pour des personnes dans mon cas (Bac+5 sans emploi, mine de rien il y en a pas mal) qui souhaiterai se reconvertir dans l'informatique.
            Je l'ai donc suivie et me voici developpeur web depuis Septembre 2015.
            Je suis passionné de foot meme si ce sport m'a permis de me rompre les ligaments croises aux 2 genoux... et j'aime aller cinéma regulierement et jouer au poker qund j'ai un peu de temps de libre.
            </p>
    </section>
    <section class="section-information section-important" id="info-legales">
        <h2 class="section-title" id="info-legales">Informations personnelles</h2>
        <ul>
            <li><strong>Lieu de residence</strong> : Nantes</li>
            <li><strong>Date de naissance</strong> : 20 août 1990</li>
            <li><strong>Permis</strong> : B</li>
            <li><strong>Situation</strong> : en PVT jusqu'à fin 2019 en Nouvelle-Zelande</a></li>
        </ul>
    </section>
    <section class="section-cursus section-important" id="info-cursus">
        <h2 class="section-title" id="info-cursus">Formation</h2>
        <ul>
            <li><strong>Juin 15 - Août 2015</strong> : Formation JAVA/JEE et AngularJS dispensée par <a href="http://clever-institut.com">Clever Institut</a>,à Saint Herblain.</li>
            <li><strong>2012 – 2014</strong> : Master Physique et Ingénierie, spécialité Physique Informatique à l'Université de Montpellier 2.</li>
            <li><strong>2008 – 2012</strong> : Licence de Physique à l'Université de Poitiers.</li>
        </ul>
    </section>
    <section class="section-experience section-important" id="info-experience">
        <h2 class="section-title" id="info-cursus">Expériences profesionelles</h2>
        <ul>
            <li><strong>Mars 2016 - Oct 2018</strong> : Developpeur web chez Sopra Steria au sein du meme projet de supervision des trains.
                J'ai pu lors de ces deux annees approfondir mes connaissances et gagner en responsabilites sur le projet (encadrement de jeunes, conception technique...)
            </li>
            <li><strong>Sept 2015 - Mars 2016</strong> : Developpeur web chez DTA Ingienerie qui m'a envoye en prestation pour une mission chez Sopra Steria au sein d'un projet pour le compte de la SNCF.
                L'application portait sur la supervision des trains. Le projet etait en Agile et m'a permis de developper des fonctions depuis la BdD jusqu'a l'IHM.
            </li>
            <li><strong>Juin 2015 - Août 2015</strong> : Formation Développement JAVA JEE visant à compléter et concrétiser les connaissances nécessaires pour la conception, le développement et la maintenance des applications Java en environnement JEE, associée à l’ensemble des technologies et frameworks utilisés en entreprise.
            </li>
            <li><strong>Mars 2014 - Août 2014</strong> : Ingénieur d’étude scientifique. Développement d’une interface et des codes de calculs afin de faciliter l'accès à des données portant sur l'étude des verres.</li>

        </ul>
    </section>

    <section class="section-techno section-important" id="info-techno">
        <h2 class="section-title" id="info-cursus">Compétences informatiques</h2>
        <ul>
            <li><strong>IDE</strong> : Eclipse, IntelliJ, VisualStudioCode</li>
            <li><strong>Langage </strong> : JAVA, C, Python, FORTRAN, SQL</li>
            <li><strong>Front</strong> : HTML5, Javascript, CSS3, AngularJS</li>
            <li><strong>OS</strong> : Windows, Linux</li>
        </ul>
    </section>

    <footer class="footer-cv">
        <nav>
            <span><a href="https://fr.linkedin.com/pub/thomas-fajoux/85/390/5a5"><img src="images/linkedin.png" alt="logo linkedin"/></span>
            <span><a href="http://fr.viadeo.com/fr/profile/thomas.fajoux"><img src="images/viadeo.png" alt="logo viadeo"/></span>
            <span><a href="https://github.com/Joux17"><img src="images/github.png" alt="logo github"/></span>
        </nav>
    </footer>
</div>
